[mcu]
# serial: /tmp/klipper_host_mcu
# canbus_uuid: 6c211aa66513

[printer]
kinematics: none
max_velocity: 300
max_accel: 3000

[idle_timeout]
timeout: 3600

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]

# A dummy toolhead to prevent errors
[force_move]
enable_force_move: True

[neopixel led_strips]
pin: PC7
chain_count: 23
color_order: GRB
initial_RED: 1.0
initial_BLUE: 1.0
initial_GREEN: 1.0

# [led_effect rainbow_strips]
# leds:
#     neopixel:led_strips
# autostart:                          true
# frame_rate:                         24
# layers:
#     gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)
#     # chase 1 1 top (1,1,1), (0,0,1),(0,0,1)
    
#     # gradient  -0.7  1 add (0.0, 0.0, 0.1),(0.0, 0.0, 0.1),(0.1, 0.1, 0.1),(0.0, 0.0, 0.1),(0.0, 0.0, 0.1)
#     # twinkle 8 0.15 top (0.3,0.3,0.3), (0.4,0,0.25)
#     # comet  1.5 1.0 add (0.0,0.0,1.0), (0,0,0)
#     # comet  -1.5 1.0 top (0.0,0.0,1.0), (0,0,0)
#     # fire 45 40 top (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
#     # chase 1 1 add (1,1,1), (1,0,1),(1,0,1)
#     # chase -1 1 add (1,1,1), (0,0,1),(0,0,1)
#     # cylon 1 1 top (0,0,1)
