[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: none
max_velocity: 300
max_accel: 3000

[idle_timeout]
timeout: 3600

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]

# A dummy toolhead to prevent errors
[force_move]
enable_force_move: True